body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  padding-bottom: 50px;
  background-color: #f1faee;
}
section {
    background-color: #a8dadc;
}
.legend {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}
h3 {
  margin-top: 50px;
}
.hover-underline {
  text-decoration: none;
}
.hover-underline:hover {
  text-decoration: underline;
}